{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
        href="{% static 'css/css_account.css' %}">
    </head>
    <body>
    <header class="navbar">
        <a href="{% url 'create_record' %}">Create record</a>
        <a href="{% url 'ber' %}">Main</a>
        <a href='{% url "MyNotes" %}'>My notes</a>
        {% if request.user.is_authenticated %}
        <div class="log"> 
            <form action="{% url 'logout' %}">
                <button>Logout</button>
        </form>
        </div>
        {% endif %}
    </header>
    </body>
    {% for d in acc %}
    
      <div class="user-container">
        {% if d.image %}
        <img src="{{ d.image|thumbnail_url:'default' }}" class="img">
        {% else %}
        {% for i in admin_image %}
        <img src="{{ i.image|thumbnail_url:'default' }}" class="img">
        {% endfor%}
        {% endif %}
        <div class="button">
          <form action="{% url 'CreateExtraInformation' %}" >
            <button class="btn">Add account information</button>
          </form>
          <form action="{% url 'PasswordChangeView' %}">
            <button class="btn">Change password</button>
          </form> 
        </div>
      </div>


    
  {% endfor %}
      
    <div class="user">
        {% if request.user.is_authenticated %}
        <h1 class="Name">{{ request.user.username }}</h1>
        {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'DefaultImage' %}">Image</a>
        {% endif %}
    {% for d in acc %} 
    <div>
        
        <h2 class="about">About the user: </h2>
        <p class="about2">{{ d.e_inf|default:'---' }}</p>
        <h4 class="additional_information">Additional information:</h4>
        <div class="all">
            <p>Email: {{ request.user.email }}</p>
            <p>Age: {{ d.age|default:'---' }}</p>
            {% if d.gender %}
            <p>Gender: Male</p>
            {% else %}
            <p>Gender: Female</p>
            {% endif %}    
        </div>
    </div>
    {% endfor %}
    </div>
  <!-- Другие данные о пользователе, если они доступны -->
    {% else %}
        <p>Пожалуйста, войдите в систему.</p>
        <h4><a href="{% url 'login' %}"> login </a></h4>
    {% endif %}
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p>Contact us: <a href="mailto:feathui@mail.ru">feathui@mail.ru</a></p>
                <p>Author: K.D.A.</p>
            </div>
        </div>
    </footer>
    
</html>   