{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<header class="navbar">
    <a href="{% url 'ber' %}" class="i">I33I</a>
</header>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

				<form method="post">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true" class="label">Change password!</label>
					<input type="text" name="old_password" placeholder="Old password" required="">  
					<input type="password" name="new_password1" placeholder="New password" required="">
                    <input type="password" name="new_password2" placeholder="Password" required="">
					<button type="submit">Login</button>
				</form>
			
	</div>
</body>
</html>