body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #191716, #3D348B, #E6AF2E, #494847);
}

.header {
    position: relative;
     /* Центрируем текст по горизонтали */
    margin-top: 150px; /* Отступ сверху для .i */
}

.i {
    font-family: 'Jost', sans-serif;
    font-size: 120px;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); /* Добавляем тень для выделения текста */
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 0 75px;
    text-decoration: none;
    height: 30px;
}

.j {
    font-family: 'Jost', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); /* Добавляем тень для выделения текста */
    top: 0;
    left: 0;
    text-decoration: none;
    text-align: center;
}



.main{
	width: 600px;
	height: 350px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    overflow-x: hidden;
    
}
#chk{
	display: none;
}




.account .material-symbols-outlined{
    color: #000;
    font-size: 80px;
    
}


.n {
    height: 250px; /* Убираем фиксированную высоту */
    width: 600px;
    background: #eee;
    border-radius: 60% / 40%;
    transform: translateY(-10px);
    transition: .8s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: column; /* Элементы идут друг за другом сверху вниз */
    align-items: center; /* Выравниваем по центру */
    justify-content: center; /* Центрируем содержимое */
    margin-top: 0px;
}


.account {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 45px;
    position: absolute;
    margin-top: -150px;
    text-align: center;
    top: 67.5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.account1{
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 45px;
    position: absolute;
    margin-top: -150px;
    text-align: center;
    top: 72.5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.account label{
	color: #573b8a;
	transform: scale(.6);
}


